.gradle/
build/
app/build/
local.properties
.idea/
*.iml
.kotlin/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.keystore
!gradle/wrapper/gradle-wrapper.jar
